<ion-header>
    <ion-toolbar>
      <ion-title>Document Confirmation</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="onConfirmationForm" class="list-form">
  
      <div text-center class="logo">
        <img src="assets/icon/baseline-photo-24px.png" alt="">
      </div>
  
      <ion-item no-padding class="animated fadeInUp">
        <ion-input type="text" placeholder="Vehicle Registration and Licensing" formControlName="license"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onConfirmationForm.get('license').touched && onConfirmationForm.get('license').hasError('required')">
        <ion-text color="danger">
          This field is required
        </ion-text>
      </p>
  
      <div text-center padding-top class="input-title">
        <ion-text>
          Select the color of your vehicle
        </ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">
          Color
        </ion-label>
        <ion-select formControlName="vehicle_color">
          <ion-select-option value="brown">Brown</ion-select-option>
          <ion-select-option value="blonde">Blonde</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
          <ion-select-option value="white">White</ion-select-option>
          <ion-select-option value="blue">Blue</ion-select-option>
          <ion-select-option value="green">Green</ion-select-option>
          <ion-select-option value="grey">Grey</ion-select-option>
        </ion-select>
      </ion-item>
      <p ion-text class="text08" *ngIf="onConfirmationForm.get('vehicle_color').touched && onConfirmationForm.get('vehicle_color').hasError('required')">
        <ion-text color="danger">
          This field is required
        </ion-text>
      </p>
  
      <div text-center class="avatar-wrapper">
        <ion-text>
            Send a clear picture of your CRLV
        </ion-text>
        <div class="avatar">
            <ion-icon name="md-camera"></ion-icon>
            <ion-text>
              Send Image
            </ion-text>
        </div>
      </div>
      
      <div class="continue">
        <ion-button expand="full" shape="round" (click)="doContinue()">
          <ion-text>
            Continue
          </ion-text>
        </ion-button>
      </div>
      
      <!-- <ion-text padding-top color="danger">
        {{errorMessage}}
      </ion-text> -->
      
    </form>
  </ion-content>
  