<ion-tabs>

    <ion-tab-bar slot="bottom" color="light">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="search-ride">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="offer-ride">
        <ion-icon name="add"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="message">
        <ion-icon name="chatboxes"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="contact"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>