<ion-content padding>
  <div text-center class="auth-content">
    <div class="logo">
      <img src="assets/icon/Logo_Biga_Carona__final_douradoevinho_v4.png" alt="">
    </div>
    <div class="logo-text">
      <ion-text class="biga">
        BIGA
      </ion-text>
      <ion-text class="carona">
        Carona
      </ion-text>
      <ion-text class="university">
        UNIVERSIDADES
      </ion-text>
    </div>
    <ion-button expand="full" shape="round" class="register" (click)="goToRegister()">
      <ion-text>
        Register
      </ion-text>
    </ion-button>
    <ion-button expand="full" shape="round" class="login" (click)="goToEmailLogin()">
      <ion-text>
        Login
      </ion-text>
    </ion-button>
    <ion-button expand="full" shape="round" class="loginwithfb">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-text class="ion-text-justify">
        Login with Facebook
      </ion-text>
    </ion-button>
  </div>
</ion-content>